<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App_todo_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB3A37762B15D48600C9FD29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB3A378C2B15D48800C9FD29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB3A37962B15D48900C9FD29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
